@model IEnumerable<CVGS_Main.Models.CvgsWishlistItems>

@{
    ViewData["Title"] = "Index";
}

<h1>@TempData["WishlistUser"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        @if((bool)ViewData["Ownership"] == true)
        {
            <td>
                <a asp-action="Edit" asp-route-id="@item.WishlistItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WishlistItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WishlistItemId">Delete</a>
            </td>
        }
    </tr>
}
    </tbody>
</table>
